################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Card-Collective-Bot/obj
/Card-Collective-Bot/bin/Debug/netcoreapp3.1
/.vs
/CardCollective.Services/bin/Debug/netcoreapp3.1
/CardCollective.Services/obj
/Card-Collective-Bot/logs/cardCollective.log
/Card-Collective-Bot/bin/logs/cardCollective.log
/Card-Collective-Bot/bin/Debug/cardCollective.log
/logs/cardCollective.log
/CardCollectiveBot.BlackJack/obj
/_logs/cardCollective.log
/CardCollectiveBot.Console/bin/Debug/netcoreapp3.1
/CardCollectiveBot.BlackJack/bin/Debug/netcoreapp3.1
/CardCollectiveBot.Console/obj
/CardCollectiveBot.Misc/bin/Debug/netcoreapp3.1
/CardCollectiveBot.DeckOfCards/obj
/CardCollectiveBot.Misc/obj
/CardCollectiveBot.BlackJack.Test/bin/Debug/netcoreapp3.1
/CardCollectiveBot.BlackJack.Test/obj
/CardCollectiveBot.DeckOfCards/bin/Debug/netcoreapp3.1
/CardCollectiveBot.Currency/bin/Debug/netcoreapp3.1
/CardCollectiveBot.Currency/obj
/CardCollectiveBot.BlackJack/Matches
/CardCollectiveBot.Data/bin/Debug/netcoreapp3.1
/CardCollectiveBot.Data/obj/Debug/netcoreapp3.1
/CardCollectiveBot.Data/obj
/CardCollectiveBot.Uno/obj
/CardCollective.Services/bin/Release/netcoreapp3.1
/CardCollectiveBot.BlackJack/bin/Release/netcoreapp3.1
/CardCollectiveBot.Console/bin/Release/netcoreapp3.1
/CardCollectiveBot.Console/Properties/PublishProfiles
/CardCollectiveBot.Currency/bin/Release/netcoreapp3.1
/CardCollectiveBot.Data/bin/Release/netcoreapp3.1
/CardCollectiveBot.Currency/Properties/PublishProfiles
/CardCollectiveBot.Misc/bin/Release/netcoreapp3.1
/CardCollectiveBot.Uno/bin
